COMPOSE_PROJECT_NAME=decisionharbor
WEB_HOST_PORT=5173
API_HOST_PORT=8000
POSTGRES_PASSWORD=devpassword
PLATFORM_DB_PASSWORD=platform_pass
ANALYTICS_READER_PASSWORD=reader_pass
ANALYTICS_ADMIN_PASSWORD=admin_pass
QUERY_STATEMENT_TIMEOUT_MS=30000
QUERY_MAX_ROWS=1000
